root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{ps1,bat,cmd}]
end_of_line = crlf

[*.{png,jpg,jpeg,gif,webp,ico,jar,class,apk,dex,so,dll,dylib,exe,zip,7z,gz,pdf,woff,woff2,ttf,otf,eot}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
